.footer {
    background-color: #353535;
    &__container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        max-width: 1280px;
        margin: auto;
    }
    &__logo {
        color: #fff;
        font-size: 1.2rem;
        margin: 0 0 1rem;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__element {
        margin: .5rem 0;
        &:first-child {
            margin-top: 0;
        }
    }
    &__link {
        color: #fff;
        text-decoration: none;
    }
    &__icon {
        width: 1.2rem;
        margin-right: .5rem;
    }
}

@media screen and (min-width: 1023px) {
    .footer {
        &__logo {
            text-align: center;
            font-size: 2rem;
        }
        &__list {
            @include flex-center;
            margin: 1rem 0;
        }
        &__element {
            margin: 0 2rem;
        }
    }
}