.header{
    position: relative;
    padding: .25rem;
    box-shadow: 0 0 .5rem gray;

    &__logo{
        @include flex-center;
        font-family: "Shrikhand", sans-serif;
        text-decoration: none;
        font-size: 2rem;
        color: black;
        margin: 1rem 0;
    }

    &__icon{
        @include flex-center;
        position: absolute;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
        color: #000;

    }

    &--arrow{
        position: relative;
    }
}