@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/** Apparition du "check" au survol des items **/
@-webkit-keyframes check {
  0% {
    margin-right: -5rem;
  }
  30% {
    margin-right: -4rem;
  }
  50% {
    margin-right: -3rem;
  }
  80% {
    margin-right: -2rem;
  }
  100% {
    margin-right: -1rem;
  }
}
@keyframes check {
  0% {
    margin-right: -5rem;
  }
  30% {
    margin-right: -4rem;
  }
  50% {
    margin-right: -3rem;
  }
  80% {
    margin-right: -2rem;
  }
  100% {
    margin-right: -1rem;
  }
}
/** Apparition du menu avec délai **/
@-webkit-keyframes fading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.delay-1 {
  -webkit-animation: fading 500ms linear both;
          animation: fading 500ms linear both;
}

.delay-2 {
  -webkit-animation: fading 500ms linear both;
          animation: fading 500ms linear both;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation: fading 500ms linear both;
          animation: fading 500ms linear both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/** Changement de couleur du coeur au survol **/
@-webkit-keyframes change-color {
  0% {
    stroke-width: 20;
    fill: url(#heart-gradient);
    fill-opacity: 0;
  }
  50% {
    stroke-width: 10;
    fill: url(#heart-gradient);
    fill-opacity: 0.5;
  }
  100% {
    stroke-width: 0;
    fill: url(#heart-gradient);
    fill-opacity: 1;
  }
}
@keyframes change-color {
  0% {
    stroke-width: 20;
    fill: url(#heart-gradient);
    fill-opacity: 0;
  }
  50% {
    stroke-width: 10;
    fill: url(#heart-gradient);
    fill-opacity: 0.5;
  }
  100% {
    stroke-width: 0;
    fill: url(#heart-gradient);
    fill-opacity: 1;
  }
}
/** animation du loader **/
@-webkit-keyframes loader-out {
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes loader-out {
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@-webkit-keyframes typing {
  /** effet machine à écrire **/
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  /** effet machine à écrire **/
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink {
  /** clignotement du border-right*/
  from, to {
    border-color: transparent;
  }
  0% {
    border-color: #9356DC;
  }
  30% {
    border-color: #99E2D0;
  }
  50% {
    border-color: #FF79DA;
  }
}
@keyframes blink {
  /** clignotement du border-right*/
  from, to {
    border-color: transparent;
  }
  0% {
    border-color: #9356DC;
  }
  30% {
    border-color: #99E2D0;
  }
  50% {
    border-color: #FF79DA;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px gray;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 100px;
  transition-duration: 0.25s;
  /** transition au survol */
}
.btn:hover {
  box-shadow: 0.25rem 0.25rem 10px #464646;
  opacity: 0.9;
}
.btn--restaurant {
  padding: 0.75rem 3rem;
}

.header {
  position: relative;
  padding: 0.25rem;
  box-shadow: 0 0 0.5rem gray;
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
}
.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  color: #000;
}
.header--arrow {
  position: relative;
}

.footer {
  background-color: #353535;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  max-width: 1280px;
  margin: auto;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__element {
  margin: 0.5rem 0;
}
.footer__element:first-child {
  margin-top: 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-out 3s forwards 1.5s;
          animation: loader-out 3s forwards 1.5s;
  z-index: 1000;
}
.loader__content {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
.loader h1 {
  margin-bottom: 2rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid gray;
  letter-spacing: 0.15em;
  -webkit-animation: typing 1.5s steps(40, end), blink 0.75s step-end infinite;
          animation: typing 1.5s steps(40, end), blink 0.75s step-end infinite;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 1rem;
  background-color: #F3F3F3;
  text-align: center;
}
.city__form {
  margin: auto;
}
.city__icon {
  margin-right: 0.5rem;
}
.city__input {
  width: 50%;
  border: none;
  background-color: #F3F3F3;
  font-size: 1.1rem;
}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: #FAFAFA;
}
.explore__title {
  margin: 0;
}
.explore__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
  margin-bottom: 2rem;
}

.tutorial {
  padding: 2rem 1rem;
}
.tutorial__container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
.tutorial__title {
  margin-top: 0;
}
.tutorial__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: listNumber;
}
.tutorial__step {
  display: flex;
  position: relative;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem gray;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
}
.tutorial__step::before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: listNumber 1;
  content: counter(listNumber) " ";
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
.tutorial__icon {
  margin-right: 1rem;
  color: #7E7E7E;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 2rem 1rem;
}
.restaurant__container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.restaurant__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  display: block;
  color: inherit;
  background-color: #fff;
  position: relative;
  text-decoration: none;
  border-radius: 1rem;
  transition: transform 400ms;
}
.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none;
  border-radius: 1rem 1rem 0 0;
  border: none;
  width: 100%;
  height: 12rem;
}
.card__new {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  background-color: #99E2D0;
  color: #1B6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
}
.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}
.card__text {
  flex: 1;
}
.card__title {
  margin: 0 0 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 20;
}
.card__icon {
  font-size: 2rem;
  overflow: visible;
}
.card__icon:hover {
  -webkit-animation: change-color 300ms forwards;
          animation: change-color 300ms forwards;
}

.background__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 32rem;
}

.main {
  position: relative;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  margin: auto;
  margin-top: -4rem;
  max-width: 1280px;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}
.main__title {
  font-family: "Shrikhand", sans-serif;
}
.main__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.menu {
  display: grid;
}
.menu__course {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.menu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.menu__title::after {
  content: "";
  background-color: #99E2D0;
  height: 0.25rem;
  width: 3rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu__item {
  display: flex;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem gray;
  margin: 1rem 0;
  cursor: pointer;
  padding: 1rem;
  overflow: hidden;
  max-width: 100%;
  transform: scale(0);
  transform-origin: bottom;
}
.menu__content {
  flex: 1;
  overflow: hidden;
}
.menu__name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: 700;
}
.menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
}
.menu__item:hover .menu__check {
  -webkit-animation: check 180ms forwards;
          animation: check 180ms forwards;
}
.menu__item:hover .menu__check .check-wrap {
  transform: rotate(0);
}

.check-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.7s;
}
.check-wrap__icon {
  color: #99E2D0;
}

@media screen and (min-width: 768px) {
  .tutorial__list {
    display: flex;
  }
  .tutorial__step {
    flex: 1;
    margin: 0 0 0 2rem;
  }
  .tutorial__step:first-child {
    margin-left: 0.75rem;
  }

  .restaurant__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__logo {
    text-align: center;
    font-size: 2rem;
  }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  .footer__element {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}/*# sourceMappingURL=main.css.map */