@media screen and (min-width: 1024px) {
    .tutorial {
        &__list {
            display: flex;
        }
        &__step {
            flex: 1;
            margin: 0 0 0 2rem;
            &:first-child {
                margin-left: .75rem;
            }
        }
    }
    .restaurant {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}