.background__image{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 32rem;
}

.main{
    position: relative;
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0;
    margin: auto;
    margin-top: -4rem;
    max-width: 1280px;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem 0 1rem;
    }

    &__title{
        font-family: "Shrikhand", sans-serif;
    }

    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    &__button{
        display: flex;
        justify-content: center;
        padding: 3rem 0;
    }
}

.menu{
    display: grid;

    &__course{
        max-width: 100%;
        overflow: hidden;
        padding: 0 1rem;
    }

    &__title{
        text-transform: uppercase;
        position: relative;
        padding-bottom: .5rem;
        font-weight: 400;

        &::after{
            content: "";
            background-color: #99E2D0;
            height: .25rem;
            width: 3rem;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__item{
        display: flex;
        background-color: #fff;
        border-radius: .75rem;
        box-shadow: .25rem .25rem 1rem gray;
        margin: 1rem 0;
        cursor: pointer;
        padding: 1rem;
        overflow: hidden;
        
    }

    &__content{
        flex: 1;
    }

    &__name{
        margin: 0;
 
    }

    &__description{
        margin: 0; 
    }
 /*   &__name, &__description{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }*/

    &__price{
        display: flex;
        align-items: flex-end;
        padding-left: .5rem;
        font-weight: 700;
    }

    &__check{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#99E2D0;
        width: 4rem;
        margin: -1rem -5rem -1rem 1rem;
    }
}

.check-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100px;

    &__icon{
        color:#99E2D0;
    }
}



