
/** Apparition du "check" au survol des items **/
@keyframes check{
    0%{margin-right: -5rem;}
    30%{margin-right: -4rem;}
    50%{margin-right: -3rem;}
    80%{margin-right: -2rem;}
    100%{margin-right: -1rem;}
}


/** Apparition du menu avec délai **/
@keyframes fading{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

.delay-1{
    animation: fading 1s ease;
}

.delay-2{
    animation: fading 1s ease;
    animation-delay: 0.2s;
}

.delay-3{
    animation: fading 1s ease;
    animation-delay: 0.3s;
}

/** Changement de couleur du coeur au survol **/
@keyframes change-color{
    0%{stroke:20; fill: url(#heart-gradient); fill-opacity: 0;}
    50%{stroke:10; fill: url(#heart-gradient); fill-opacity: 0.5;}
    100%{stroke:none; fill: url(#heart-gradient); fill-opacity: 1;}
}

/** animation du loader **/

@keyframes loader-out{
    100%{
        opacity: 0;
        z-index: -20;
    }
}
  @keyframes typing{ /** effet machine à écrire **/
    from {width: 0;}
    to{width: 100%;}
  }

  @keyframes blink{ /** clignotement du border-right*/
    from, to{border-color: transparent};
    0%{border-color: $primary-color;}
    30%{border-color: $tertiary-color;}
    50%{border-color: $secondary-color;}
  }