.menu{
    @keyframes item-appear{
        0%{margin-right: -5rem;}
        30%{margin-right: -4rem;}
        50%{margin-right: -3rem;}
        80%{margin-right: -2rem;}
        100%{margin-right: -1rem;}
    }

    &__item:hover &__check{
        animation: item-appear 180ms forwards;
    }

}

.check-wrap{
    @keyframes check-rotate {
        0%{rotate: (90deg);}
        50%{rotate: (75deg);}
        70%{rotate: (60deg);}
        80%{rotate: (45deg);}
        90%{rotate: (20deg);}
        100%{rotate: (0);}
    }

    .menu__item:hover &__icon{
        animation: check-rotate 0.5s forwards;
    }
}